<div class="articles-page">
  <h1 class="text-center mt-4">Edit article</h1>
  <%= render 'form' %>
  <div class="row justify-content-center mb-3">
    <%= link_to 'Cancel', @article, class: "btn btn-outline-danger btn-lg w-auto" %>
  </div>
</div>
