<div class="articles-page">
  <h1 class="text-center mt-4">Articles</h1>

  <%= render 'articles' %>

  <div class="row justify-content-center mb-3">
    <%= link_to 'Create new article', new_article_path, class: "btn btn-primary btn-lg w-auto" %>
  </div>
</div>
