<div class="container p-5 mb-4 bg-body-tertiary rounded-3" id="home-container">
  <div class="text-center text-white">
    <h1 class="display-3">Hello there!</h1>
    <p class="lead">This is the home page of the application</p>
    <hr class="my-4">
    <p>In this application you can read sume super very interesting articles</p>
    <a class="btn btn-primary btn-lg" href="/articles" role="button">Check the articles!</a>
  </div>
</div>
