<div class="container p-5 mb-4 bg-body-tertiary rounded-3" id="home-container">
  <div class="text-center text-white">
    <h1 class="display-3 rounded-3 bg-secondary">Hello there!</h1>
    <p class="lead rounded-3 bg-secondary">This is the home page of the application</p>
    <hr class="my-4">
    <p class="rounded-3 bg-secondary">In this application you can read some super very interesting articles</p>
    <a class="btn btn-primary btn-lg" href="/articles" role="button">Check the articles!</a>
    <a class="btn btn-success btn-lg" href="/signup" role="button">Sign up now!</a>
  </div>
</div>
