<div class="categories-page">
  <h1 class="text-center mt-4">Edit Category</h1>
  <%= render 'form' %>
  <div class="row justify-content-center mb-3">
    <%= link_to 'Back', category_path(@category), class: "btn btn-outline-danger btn-lg w-auto" %>
  </div>
</div>
